body {
  font-family: "Montserrat", sans-serif;
  background-color: #e5e5e5;
  padding: 40px;
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  background: #fff;
  width: 1200px;
  height: 1319px;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

/* Main content */

h3 {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin: 0 0 8px 0;
}

h4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.mainContent {
  padding: 88px;
}

/* About me */

.specialty {
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 0 0 18px 0;
}

h1 {
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
  margin: 0 0 28px 0;
}

.aboutMy {
  width: 525px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.aboutMe {
  margin-bottom: 50px;
}

/* projects */

.myProjects {
  margin-bottom: 44px;
}

.projectsList {
  padding: 0 0 0 14px;
  margin: 0 0 0 0;
}

.projectsItem {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.links {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #005fff;
}

.projectsTech {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

/* 
My experience 
не розбивав на окремі компанії,
зробив код по загальним властивостям.
 */
.myExperience {
  margin-bottom: 44px;
}

.company {
  margin-bottom: 16px;
}

.workPeriod {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 12px 0 8px 0;
}

.workDuties {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  padding: 0 0 0 14px;
  margin: 0;
}

/* my education */
.titleEd {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 12px;
}
.universityName {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #6d9bf5;
  margin-bottom: 12px;
}
.myFaculty {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 12px;
}
.edPeriod {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
}

/* sidebar */

.sidebar {
  width: 370px;
  background-color: #e0ebfe;
}
/* img */

img {
  width: 370px;
  height: 470px;
  margin-top: 40px;
}
/* contacts */

.contacts {
  margin-left: 40px;
  margin-top: 48px;
}

.contactsType {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #161d2a;
  margin-right: 8px;
}

.contactsItem {
  margin: 0;
}

.contactsNumber {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #161d2a;
}

.contactsEmail {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #2979ff;
}

/* techSkills */

.techSkills {
  padding-left: 40px;
  padding-top: 48px;
}

.sidebarTitle {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #161d2a;
  margin-bottom: 8px;
}
/* soft skills */
.softSkills {
  padding-left: 40px;
  padding-top: 48px;
}
/* basic for skills */
.skillsList {
  margin: 0;
  padding: 0 0 0 22px;
}

.skillsListItem {
  color: #6d9bf5;
}

.skillsListText {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #161d2a;
}

.colortext {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #6d9bf5;
}
